# Секретные ключи
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads (загруженные изображения)
static/uploads/*
!static/uploads/.gitkeeptkeep